.valuesContainerSection {
  margin: 20px 0px;
  border-radius: 20px;
  overflow: hidden;
}
.valuesContainer {
  padding: 20px 0px;
  text-align: center;
  background-color: var(--secondaryColor);
}
.valuesContainer:nth-child(2) {
  border-left: 2px solid var(--chartsColor);
  border-right: 2px solid var(--chartsColor);
}
.valuesContainer h2 {
  color: var(--titlesColor);
}
.valuesContainer p {
  color: white;
  font-size: 26px;
}
@media (max-width:767px) {
  .valuesContainer:nth-child(2) {
  border-left: unset;
  border-right: unset;
  border-top: 2px solid var(--chartsColor);
  border-bottom: 2px solid var(--chartsColor);
}
}
@media (max-width:425px){
  .valuesContainer {
  padding: 10px 0px;}
}