.graphsContainerSection {
  margin: 0px 0px;
  border-radius: 20px;
  overflow: hidden;
}
.graphContainer {
  padding: 8px 0px;
  text-align: center;
  background-color: var(--secondaryColor);
}
.graphContainer h3 {
  color: var(--titlesColor);
}
.graphContainer:nth-child(2) {
  border-top: 2px solid var(--chartsColor);
  border-bottom: 2px solid var(--chartsColor);
}
