:root {
  --primaryColor: #9062bc;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 main{
    background-color: var(--primaryColor);
 }
 header {
  text-align: center;
  font-size: 50px;
  color: white;
  padding: 20px 0px;
}
.leaflet-marker-icon{
    width: 20px !important;
    height: 30px !important;
}
.leaflet-popup-content-wrapper {
  background-color: var(--primaryColor);
}
.leaflet-popup-tip {
  background-color: var(--primaryColor);
}
.leaflet-container a.leaflet-popup-close-button {
  color: yellow;
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: black;
}
.CountryLogsHeader{
  color: white;
  text-align: center;
}


@media (max-width:767px) {
  .CountryLogsHeader{
    padding-top: 10px;
 border-top: 1px solid yellow;
}
}