.mapContainerParent {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.mapContainer {
  width: 100%;
  height: 100%;
}
.countryName {
  font-size: 20px;
  color: var(--titlesColor);
}
.countryDetails {
  color: var(--titlesColor);
  font-size: 10px;
  text-transform: capitalize;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.countryDetails span{
  font-weight: bold;
}

@media (max-width:767px) {
  .mapContainerParent{
    height: 500px;
    margin-bottom: 16px;
  }
  
}